<h1><strong><%= @contact.contactname() %>'s contact page</strong><small> <%= @contact.contactname() %>'s phone numbers: </small></h1>

  <form action="/phone" method="post">
    <input id='contact_id' name='contact_id' type='hidden' value='<%= @contact.id() %>'>

    <label for="phone_type">Phone Type: </label>
    <input id="phone_type" placeholder="work phone" name="phone_type" type="text">

    <label for="phone_number">Phone Number: </label>
    <input id="phone_number" placeholder="###-###-####" name="phone_number" type="text">
    <button type="submit" class="btn btn-primary">Add Number</button>
  </form>

  <ul>
    <% @contact.phones().each() do |numbers| %>
      <li><h4><%= numbers.phone_type() %> <%= numbers.phone_number() %></h4></li>
    <% end %>
  </ul>


<a href="/">Return to Contacts</a>
